<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>产品详情页</title>
	 <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-showOrderCart.css" />
	<script src="js/vuejs-2.5.16.js"></script>
	<script src="js/axios-0.18.0.js"></script>
	<script th:inline="javascript">
        var userInfo = [[${userInfo}]];
        var bearerToken = [[${bearerToken}]];
        var provincesList = [[${provincesList}]];
        var orderCartList = [[${orderCartList}]];
        var spec = [[${spec}]];
	</script>

</head>

<body>

<!--页面顶部 开始-->
<div th:replace="orderCartHead::header"></div>
<div class="body-container" id="app">
	<div class="unlogin-div" th:if="${bearerToken == null}">
		<img src="img/icon_sprite.png"/>
		<span>您还没有登录！登录后购物车的商品将保存到您账号中</span>
		<a href="http://www.supergo-sso.com/user/loginPage" target="_blank">立即登录</a>
	</div>
	<div class="all-goods">
		<span class="div-span">全部商品{{orderCartList.length}}</span>
		<div class="div-address">
			<span class="fl">配送至:</span>
			<div @mouseenter="enter()" @mouseleave="leave()" class="fl g-color">
				<em class="t-gray" v-text="address"></em>
				<img src="img/deliver01.png">
			</div>
		</div>
		<!-- 地址框 -->
		<div class="a-position" ref="position" :style="[ showAddress ]" @mouseenter="enter()" @mouseleave="leave()">
			<div class="city-title">
				<ul>
					<li :class="n==i?'l-active':''" v-for="(v,i) in titleArr" :key="i" @click="changeN(i)">
						<div :id="i" ref="i">
							<em>{{v}}</em>
							<img src="img/deliver01.png">
						</div>
					</li>
				</ul>
			</div>
			<!--设置边线-->
			<div>
				<div class="l-width l-color"></div>
			</div>

			<div class="city-list">
				<div v-for="(v,i) in citysArr" :key="i" v-show="n==i">
					<ul v-for="(city,j) in v" :key="j">
						<li @click="getAddress(city)" :class="city == titleArr[n]?'a-color':''">{{city}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th><input type="checkbox"/>全选</th>
					<th>商品</th>
					<th>单价</th>
					<th>数量</th>
					<th>小计</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(v,i) in orderCartList" :key="i">
					<td><input type="checkbox" id="v.id"/></td>
					<td>
						<div class="goods-div ">
							<img class="input-img" src="img/68d0ac29ce4a326d.jpg"/>
							<div class="goods-name-div">
								<span v-text="v.goods_name"></span>
							</div>
							<div class="spec-div">
								<span v-for="(spec,j) in v.spec" v-text="spec"></span>
							</div>
						</div>
					</td>
					<td>
						<span v-text="v.price"></span>
					</td>
					<td>
						<input class="input-left" type="text" @click="addNum(-1,v.id,i)" value="-"/>
						<input ref="inputMiddle" class="input-middle" type="text" @input="change()" :value="v.num"/>
						<input class="input-right" type="text" @click="addNum(1,v.id,i)" value="+"/>
						<div>
							<span>有货</span>
						</div>
					</td>
					<td>
						<strong v-text="v.price * v.num"></strong>
					</td>
					<td>
						<a>删除</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">
						<div class="footer-div">
							<input type="checkbox"/>全选
							<a>删除选中商品</a>
							<span class="haveChose">已选择1件商品</span>
							<span class="total">总价:¥699.00</span>
							<span class="promotion">促销：-¥0.00</span>
							<a class="account">去结算</a>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<!--页面底部  开始 -->
<div th:replace="~{foot::footer}"></div>
<!--页面底部  结束 -->
<script type="text/javascript" src="js/controller/showOrderCart.js"></script>

</body>

</html>