<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>产品详情页</title>
	 <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-unloginAddOrderCart.css" />
	<script src="js/vuejs-2.5.16.js"></script>
	<script src="js/axios-0.18.0.js"></script>
	<script src="js/plugins/jquery/jquery.min.js"></script>
	<script th:inline="javascript">
        var skuMap = [[${skuMap}]];
        var userInfo = [[${userInfo}]];
        var spec = [[${spec}]];
        var bearerToken = [[${bearerToken}]];
	</script>

</head>

<body>

<!--页面顶部 开始-->
<div th:replace="head::header"></div>
<div class="contain" id="app">
	<div class="success-contain">
		<div class="success-top">
			<img src="img/addtocart-icons.png"/>
			<span class="">商品已成功加入购物车!</span>
		</div>
		<div class="success-middle">
			<img th:src="${skuMap.image}"/>
			<div>
				<div>
					<span th:text="${skuMap.title}" class="success-middle-size"></span>
				</div>
				<div>
					<span class="success-middle-color" th:each="entity:${spec}" th:text="${entity.key}+':'+${entity.value}+' '"> </span>
					<span class="success-middle-color" th:text="'数量：'+${skuMap.selectedNum}"></span>
				</div>
			</div>
		</div>
		<div class="success-bottom">
			<a @click="showGoodsDetail();">查看商品详情</a>
			<a @click="">去购物车结算</a>
		</div>
	</div>
</div>
</body>
<script src="../js/vuejs-2.5.16.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script type="text/javascript">
    window.onload = function() {
        Vue.prototype.axios = 'axios';
        new Vue({
            el:'#app',
            methods:{
                showGoodsDetail: function(){
                    let url = 'http://www.supergo-page.com/page/html/build/' + skuMap.goods_id;
                    axios({
                        method: 'get',
                        url: url,
                        headers: {
                            'Authorization': bearerToken
                        }
                    }).then(function (res) {
                        console.log(res);
                        window.location.href = 'http://www.supergo-page.com/'+ skuMap.goods_id+'.html';
                    }).catch(function (error) {
                        alert("生成模板失败");
                    });
                }
            }
        });
	}
</script>
</html>