<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎登入</title>
</head>
<body >

    <span v-if="msg != ''" style="color: red" v-text="this.msg"/>

    <div id="app">
        <div>
            用户名:<input type="text" id="username" v-model="userInfo.username"/>
            <br>
            密码:<input type="text" id="password" v-model="userInfo.password"/>
            <br>
            <button @click="doLogin()"> 登入 </button>
        </div>
    </div>

</body>
<script src="../js/vuejs-2.5.16.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="../js/jquery-3.4.1.js"></script>
<script>
    Vue.prototype.axios = 'axios';
    axios.defaults.withCredentials = true;
    new Vue({
        el:'#app',
        data:{
            userInfo:{
                username:'',
                password:''
            },
            msg: ''
        },
        methods:{
            //解析请求url
            parseUrl: function (parameterStr) {
                console.log(parameterStr);
                var myMap = new Map();
                if(parameterStr.indexOf("&") > 0) {
                    var keyValueArr = parameterStr.split("&");
                    console.log(keyValueArr);
                    for(var i = 0;i < keyValueArr.length;i++) {
                        var keyValueStr = keyValueArr[i];
                        var keyArr = keyValueStr.split("=");
                        console.log(keyArr);
                        myMap.set(keyArr[0],keyArr[1]);
                    }
                } else {
                    var arr = parameterStr.split("=");
                    console.log(arr);
                    myMap.set(arr[0],arr[1]);
                }
                console.log(myMap.toString());
                return myMap;
            },
            //解析从定向url
            parseRedirectUrl: function (redirectUrl) {
                var arr = redirectUrl.split("/");
                var length = arr[arr.length - 1];
                var page = length.split(".")[0];
                console.log("page:   " + page);
                return page;
            },
            doLogin: function(){
                var _this = this;
                axios({
                    method: 'post',
                    url: 'http://sso.supergo.com/user/doLogin',
                    data: {
                        username: this.userInfo.username,
                        password: this.userInfo.password
                    }
                }).then(function (res) {
                    console.log(res);
                    if (res.data.code != 200) {
                        alert(res.data.msg);
                        this.msg = res.msg;
                    } else {
                        let bearerToken = res.data.data;
                        //获取当前页面url
                        var pageUrl = window.location.href;
                        var pageArr = pageUrl.split("?");
                        if(pageArr.length >= 2) {
                            //同步购物车数据
                            let url = 'http://page.supergo.com/page/orderCart/synchronizeOrderCart';
                            axios({
                                method: 'get',
                                url: url,
                                headers: {
                                    'Authorization': bearerToken
                                }
                            }).then(function (res) {
                                if(res.data.code == 200) {
                                    var map = _this.parseUrl(pageArr[1]);
                                    var page = _this.parseRedirectUrl(map.get("url"));
                                    if(page == "showOrderCart") {
                                        var url = "http://page.supergo.com/page/goods/showOrderCart";
                                        axios({
                                            method: 'get',
                                            url: url,
                                            headers: {
                                                'Authorization': bearerToken
                                            }
                                        }).then(function (res) {
                                            console.log(res);
                                            window.location.href = 'http://page.supergo.com/'+res.data.msg+'.html';
                                        }).catch(function (error) {
                                            alert("生成模板失败");
                                        });
                                    } else if(page == "unloginAddOrderCart") {
                                        var url = "http://page.supergo.com/page/goods/addOrderCart";
                                        axios({
                                            method: 'get',
                                            url: url,
                                            params: {
                                                itemId: map.get("itemId"),
                                                num: map.get("num"),
                                                sellerId: map.get("sellerId")
                                            },
                                            headers: {
                                                'Authorization': bearerToken
                                            }
                                        }).then(function (res) {
                                            console.log(res);
                                            window.location.href = 'http://page.supergo.com/unloginAddOrderCart.html';
                                        }).catch(function (error) {
                                            alert("生成模板失败");
                                        });
                                    } else if(page == "nullShowOrderCart") {
                                        var url = "http://page.supergo.com/page/goods/showOrderCart";
                                        axios({
                                            method: 'get',
                                            url: url,
                                            headers: {
                                                'Authorization': bearerToken
                                            }
                                        }).then(function (res) {
                                            console.log(res);
                                            window.location.href = 'http://page.supergo.com/'+res.data.msg+'.html';
                                        }).catch(function (error) {
                                            alert("生成模板失败");
                                        });
                                    } else {
                                        let url = 'http://page.supergo.com/page/html/build/' + page;
                                        axios({
                                            method: 'get',
                                            url: url,
                                            headers: {
                                                'Authorization': bearerToken
                                            }
                                        }).then(function (res) {
                                            console.log(res);
                                            window.location.href = 'http://page.supergo.com/'+page+'.html';
                                        }).catch(function (error) {
                                            alert("生成模板失败");
                                        });
                                    }
                                }
                            }).catch(function (error) {
                                alert("同步购物车失败");
                            });
                        } else {
                            //window.location.href = 'http://localhost:9999/api/page/149187842868047.html';
                            console.log(bearerToken);
                            let url = 'http://page.supergo.com/page/html/build/149187842868088';
                            axios({
                                method: 'get',
                                url: url,
                                headers: {
                                    'Authorization': bearerToken
                                }
                            }).then(function (res) {
                                console.log(res);
                                window.location.href = 'http://page.supergo.com/149187842868088.html';
                            }).catch(function (error) {
                                alert("生成模板失败");
                            });
                        }
                    }
                }).catch(function (error) {
                    alert(error);
                });
            }
        },
        beforeCreate() {
            //js清楚input历史记录,防止返回出现记录
            $("#username").attr('autocomplete', 'off');
            $("#password").attr('autocomplete', 'off');
        }
    });


</script>
</html>