<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supergo.mapper.OrderlogisticsMapper">
  <resultMap id="BaseResultMap" type="com.supergo.pojo.Orderlogistics">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="order_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="logistics_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="logistics_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="express_number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="consign_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="receive_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, order_number, logistics_id, logistics_number, express_number, consign_time, receive_time
  </sql>
</mapper>